In [1]:
import pandas as pd

In [18]:
df1=pd.read_csv('./data/bus_speeds_2020_2024.csv')
df1['month_year']= pd.to_datetime(df1['month']).dt.strftime('%m/%Y')
df1=df1[['route_id','average_speed','month_year']]
print(len(df1))
df1.head()

758

  route_id  average_speed month_year
0      B41       6.877821    01/2020
1      B41       6.318500    01/2020
2      B41       7.494134    01/2020
3      B41       7.239026    01/2020
4      B41       6.716974    02/2020

In [19]:
df2=pd.read_csv('./data/bus_speeds_2025.csv')
df2['month_year']= pd.to_datetime(df2['month']).dt.strftime('%m/%Y')
df2=df2[['route_id','average_speed','month_year']]
print(len(df2))
df2.head()

90

  route_id  average_speed month_year
0      B41       7.065311    01/2025
1      B41       6.587245    01/2025
2      B41       7.657926    01/2025
3      B41       7.391140    01/2025
4      B41       6.903288    02/2025

In [22]:
df_combined = pd.concat([df1, df2], ignore_index=True)
print(len(df_combined))
df_combined.head()

df_combined.to_csv('./data/speeds_clean.csv')

848